@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    @apply text-3xl font-bold;
}
a {
    @apply text-blue-600;
}
main {
    @apply p-6;
}

a.active {
    color: red;
}

a.pending {
    color: gray;
    animation: pulse 1s infinite;
}

button {
    @apply bg-gray-200 px-2 py-1 rounded shadow;
}
